    <header class="section" id="header-section">
        <div id="header-section-inner">
            <div class="row">
                <div id="nav-wrapper">
                    <div id="header-nav">
                        <% include ../partials/nav-links %>
                    </div>
                </div>
                <div id="logo-wrapper">
                    <a href="/">
                    <div id="logo-header">
                        <img src="/img/Logo.png" alt="Logo" />
                    </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div id="logo-header-text">
                    <a href="/"> MTC Security Services</a>
                </div>
            </div>

        </div>
    </header>
