<ul>
    <li class="nav-item">
        <a  href="/services/guarding">Guarding</a>
    </li>
    <li class="nav-item">
        <a  href="/services/dog-unit">Dog Unit</a>
    </li>
    <li class="nav-item">
        <a  href="/services/firearm-training">Firearm Training</a>
    </li>

    <li class="nav-item">
        <a href="/services/section-21">Section 21</a>
    </li>
</ul>
