<section class="section" id="services-section">
    <div class="row">
        <div class="sevices-text">
            <div class="services-text-inner" id="sevices-text-1">
                <a href="/services/guarding"> Guarding Services</a>
            </div>
        </div>
        <div class="sevices-text">
            <div class="services-text-inner" id="sevices-text-2">
                <a href="/services/firearm-training"> Firearm Training Services</a>
            </div>
        </div>
        <div class="sevices-text">
            <div class="services-text-inner" id="sevices-text-3">
                <a href="/services/dog-unit"> Dog Unit Services</a>
            </div>
        </div>
        <div class="sevices-text">
            <div class="services-text-inner" id="sevices-text-4">
                <a href="/services/section-21" > Section 21 Services</a>
            </div>
        </div>
    </div>
</section>
